
@{
    ViewData["Title"] = "AfisareStareUser";
}

<h2>Afisare carti user</h2>

<div>
    <table border="1" cellpadding="10" cellspacing="10">
        <tr>
            <th>Titlu</th>
            <th>Autor</th>
            <th>Editura</th>
            <th>Termen</th>
            <th>Data imprumutului</th>
        </tr>
        <tr>
            <td>sff</td>
            <td>fe</td>
            <td>Politehnica</td>
            <td>1 luna</td>
            <td>10.12.2018</td>
        </tr>

    </table>
</div>


