@model PSSC.Models.CautareCartePost
@{
    ViewData["Title"] = "CautaCarte";
}

<h2>Cautare carte</h2>
<br />
<br />


@using (Html.BeginForm("GasireCarte", "Home", FormMethod.Post, new { @class = "linkStyle", mVC = @Model }))
{
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(p => p.Titlu)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(p => p.Titlu)
                <input type="submit" value="Cautare" />
            </div>
            
        </fieldset>
    </div>
}

<br />
<br />




