
@{
    ViewData["Title"] = "PaginaPrincipala";
}

<h2>Biblioteca</h2>
<br />
<br />

@Html.ActionLink("Cauta carte", "CautaCarte", "Home", null, new { @class = "btn btn-default" })

@*@using (Html.BeginForm("CautaCarte", "Home", new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Cauta carte">
    }*@


<br />
<br />



@Html.ActionLink("Afiare carti user", "AfisareCartiUser", "Home", null, new { @class = "btn btn-default" })

@*@using (Html.BeginForm("AfisareCartiUser", "Home", new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Afisare carti user">
    }*@


<br />




